@tailwind base;
@tailwind components;
@tailwind utilities;

.progressBar {
  -webkit-appearance: none;
}
.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #e9873c;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

nav ul {
  background-color: #e9873c;
}

.volume-slider {
  -webkit-appearance: none;
  transform: rotate(-90deg);
  height: 7px;
  background: #2f2f2f; /* gray-500 */
  border-radius: 9999px;
  outline: none;
}

/* Chrome / Safari */
.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background: #878787; /* gray-400 */
  border-radius: 9999px;
  cursor: pointer;
}

.volume-slider::-webkit-slider-thumb:hover {
  background: #acabab; /* lighter gray on hover */
}

.volume-slider::-webkit-slider-runnable-track {
  height: 7px;
  background: #878787; /* gray-400 */
  border-radius: 9999px;
  opacity: 0.6;
}

.volume-slider::-webkit-slider-runnable-track:hover {
  opacity: 1;
  background: #acabab; /* lighter gray on hover */
}

/* Firefox */
.volume-slider::-moz-range-progress {
  height: 7px;
  background: #878787; /* gray-400 */
  border-radius: 9999px;
  opacity: 0.6;
}

.volume-slider::-moz-range-progress:hover {
  opacity: 1;
  background: #acabab; /* lighter gray on hover */
}

.volume-slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: #878787; /* gray-400 */
  border-radius: 9999px;
  cursor: pointer;
}

.volume-slider::-moz-range-thumb:hover {
  opacity: 1;
  background: #acabab; /* lighter gray on hover */
}
